In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import copy
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [28]:
# origin dataset
# import dataset
df_train = pd.read_excel("Data_Train.xlsx", engine='openpyxl')
df_train
# print(df_train.dtypes)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [29]:
# Preprocessing

# drop null value
df_train.dropna(inplace=True)

# drop duplicates
df_train.drop_duplicates(keep='first', inplace=True)

# convert Dep_Time and Arrival_Time into hour and minute
# Dep_Time
df_train["Dep_hour"] = pd.to_datetime(df_train["Dep_Time"]).dt.hour
df_train["Dep_minute"] = pd.to_datetime(df_train["Dep_Time"]).dt.minute
df_train = df_train.drop(columns="Dep_Time")

# Arrival_Time
df_train["Arr_hour"] = pd.to_datetime(df_train["Arrival_Time"]).dt.hour
df_train["Arr_minute"] = pd.to_datetime(df_train["Arrival_Time"]).dt.minute
df_train = df_train.drop(columns="Arrival_Time")

# convert Date_of_Journey into timestamp
df_train["Date_of_Journey_Year"] = pd.to_datetime(
    df_train["Date_of_Journey"], format="%d/%m/%Y").dt.year
# ps. I don't think "year" is mandatory
df_train["Date_of_Journey_Month"] = pd.to_datetime(
    df_train["Date_of_Journey"], format="%d/%m/%Y").dt.month
df_train["Date_of_Journey_Day"] = pd.to_datetime(
    df_train["Date_of_Journey"], format="%d/%m/%Y").dt.day
df_train = df_train.drop(columns="Date_of_Journey")


# convert Duration into minute
df_train['Duration'] = df_train['Duration']\
    .str.replace("h", '*60')\
    .str.replace(' ', '+')\
    .str.replace('m', '*1')\
    .apply(eval)

# Encode categorical attributes

# Select categorical data
df_train_categorical = df_train[['Airline', 'Source', 'Destination']]
df_train.drop(["Airline","Source", "Destination"], axis=1, inplace=True)

# Use OneHotEncoder
df_train_categorical = pd.get_dummies(df_train_categorical, drop_first=True)

# Concat categorical and numerical data
train_preprocessed = pd.concat([df_train, df_train_categorical], axis=1)
train_target = df_train['Price']

# Drop 'Price' because price is the target variable
train_preprocessed.drop(['Price'], axis=1, inplace=True)

train_preprocessed

,Route,Duration,Total_Stops,Additional_Info,Dep_hour,Dep_minute,Arr_hour,Arr_minute,Date_of_Journey_Year,Date_of_Journey_Month,...,Airline_Vistara Premium economy,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,BLR → DEL,170,non-stop,No info,22,20,1,10,2019,3,...,0,0,0,0,0,0,0,0,0,1
1,CCU → IXR → BBI → BLR,445,2 stops,No info,5,50,13,15,2019,5,...,0,0,0,1,0,0,0,0,0,0
2,DEL → LKO → BOM → COK,1140,2 stops,No info,9,25,4,25,2019,6,...,0,0,1,0,0,1,0,0,0,0
3,CCU → NAG → BLR,325,1 stop,No info,18,5,23,30,2019,5,...,0,0,0,1,0,0,0,0,0,0
4,BLR → NAG → DEL,285,1 stop,No info,16,50,21,35,2019,3,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,CCU → BLR,150,non-stop,No info,19,55,22,25,2019,4,...,0,0,0,1,0,0,0,0,0,0
10679,CCU → BLR,155,non-stop,No info,20,45,23,20,2019,4,...,0,0,0,1,0,0,0,0,0,0
10680,BLR → DEL,180,non-stop,No info,8,20,11,20,2019,4,...,0,0,0,0,0,0,1,0,0,0
10681,BLR → DEL,160,non-stop,No info,11,30,14,10,2019,3,...,0,0,0,0,0,0,0,0,0,1
10682,DEL → GOI → BOM → COK,500,2 stops,No info,10,55,19,15,2019,5,...,0,0,1,0,0,1,0,0,0,0

## Begin of Work

In [47]:
# Train 1

train_data = copy.deepcopy(train_preprocessed)
train_data.drop(["Route","Total_Stops", "Additional_Info"], axis=1, inplace=True) # use later: Total_Stops
train_data

train_X, test_X, train_y, test_y = train_test_split(train_data, train_target, test_size=0.25)

my_model = XGBRegressor()
# Add silent=True to avoid printing out updates with each cycle
my_model.fit(train_X, train_y, verbose=False)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=8,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [48]:
predictions = my_model.predict(test_X)

print("Mean Absolute Error : " + str(mean_absolute_error(predictions, test_y)))

Mean Absolute Error : 1211.9954426616703